.o_form_editable.d-flex.flex-column.o_form_saved {
    flex-direction: row!important;
}

.o_form_view .o_form_sheet_bg {
    width: 60%;
}

.o_FormRenderer_chatterContainer {
    width: 30%;
    padding: 0rem 1rem;
    border-left: 1px solid #ccc;
}