.o_form_view {
    display: flex;
}

.o_form_view .o_form_sheet_bg .o_form_sheet {
    margin: 2rem 3rem;
}

.o_form_view aside.oe_chatter {
    width: auto;
    min-width: auto;
    border-left: 1px solid #ccc;
}