.custom-checkbox .custom-control-input ~ .custom-control-label::before {
    box-shadow: inset 0 0 0 1px #CCD3D8;
    border-color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: dodgerblue;
    box-shadow: none;
    border-color: transparent;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: inset 0 0 0 1px #CCD3D8;
}

.custom-checkbox .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: dodgerblue;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E")!important;
    top: -0.6875rem;
    left: -2.5rem;
    display: block;
    width: 4rem;
    height: 4rem;
}



.custom-checkbox .custom-control-label::before, .custom-checkbox .custom-control-label::after {
    width: 2rem;
    height: 2rem;
    outline: none!important;
}